{% extends 'recipe_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="header-bar container">
    <h1>Логин</h1>
</div>

<div class="card-body container">
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
    {{ form|crispy }}
      </div>
    </div>
    <input class="button" type="submit" value="Войти">
</form>
    <p>У вас нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
</div>

    {% endblock content %}