<!-- templates/post_detail.html -->

{% extends 'recipe_app/base.html' %}

{% block content %}




    <div class="container">



    <h2 >{{user}}</h2>


<a id="add-link" href="{% url 'recipe-create' %}">Создать</a>
  {% for recipe in recipes %}

        {% if recipe.title %}

      <div class="album py-5 bg-light ">

          <div class="row ">
      <hr class="featurette-divider">
        <div class="container marketing">
          <div class="row featurette">
            <div class="col-md-8 order-md-2">
              <a href="{% url 'recipe_detail' recipe.pk %}" class="lead"><h2 class="featurette-heading">{{ recipe.title }}</h2></a>
                <p > {{ recipe.create }} </p>
                <p class="clip"> {{ recipe.description }} </p>
            </div>
          <div class="col-md-3 order-md-1">
            <img  src="/media/{{ recipe.image }}" style="height: 220px; width: 240px"  alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
              {% endif %}
        <a href="{% url 'recipe-update' recipe.id %}">Обновить</a>
        <a class="delete-link" href="{% url 'recipe-delete' recipe.id %}">Удалить</a>
        {% empty %}
        <h3>No items in list</h3>
        </div>

{% endfor %}
</div></div></div>


{% endblock content %}
