<!-- templates/post_detail.html -->

{% extends 'recipe_app/base.html' %}

{% block content %}
<div style="margin-top:100px"></div>


<style>
.hide {
  display: none;
}

.wrap {
  width: 250px;
  padding: 200px;
  height: 500px;
}

.h1 {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #151515 ;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin-left: 20px;
  outline: none;
  box-sizing: border-box;
}

.ul {
  padding-bottom: 50px;

}

.ul div {
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;


}
.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
.hr {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    margin-top: 5px; /* Отступ слева */
    padding: 4px; /* Поля вокруг текста */
   }

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 34em;

}

.ingerclip {
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    height: 91px;
    text-overflow: clip; /* Добавляем многоточие */
   }

</style>



<div style="text-align: center; margin-bottom: 16px">
<h3 class="sear-head editContent">Подборка рецепта по ингредиентам</h3>
<p>Пожалуйста вводите название с большой буквы.</p>
</div>

<form class="container" action="{% url 'filter' %}" method="get">
<div class="tab-content" id="pills-tabContent">
    <div class="blocktext">
        <div style="width: 615px;" >
            <input type="text" id="input" class="input" />
            <p style="color: red; margin-left: 200px"> Не нажимайте enter!</p>
            </div>
        </div>
    <div style="margin-top: 30px"></div>
                <div class="ul" >

    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <ul class="w3layouts-box-list ingerclip" style="max-height: 100px">
            {% for ingredient in view.get_ingredient %}
            <div class="editContent " >
                <input type="checkbox" class="checked" name="ingredient" value="{{ ingredient.id }}">
                <span class="span editContent">{{ ingredient.ingredient_title }}</span>
            </div>
            {% endfor %}
        </ul>
    </div>
    </div>
    </div>
    <button style="width:200px" type="submit">Найти</button>
</form>



  {% for recipe in object_list %}


      <div class="album py-5 bg-light">
        <div class="container ">
          <div class="row ">
      <hr class="featurette-divider">
        <div class="container marketing">
          <div class="row featurette">
            <div class="col-md-8 order-md-2">
              <a href="{% url 'recipe_detail' recipe.pk %}" class="lead"><h2 class="featurette-heading">{{ recipe.title|upper }}</h2></a>
                <p> {{ recipe.create }} </p>
                <p class="clip"> {{ recipe.description }} </p>
            </div>
          <div class="col-md-3 order-md-1">
            <img  src="/media/{{ recipe.image }}" style="height: 220px; width: 240px"  alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="media text-muted pt-3">-->
<!--          <img data-src="/media/{{ recipe.image }}" alt=""  class="mr-2 rounded">-->
<!--          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
<!--            <strong class="d-block text-gray-dark">@username</strong>-->
<!--                <p class="clip"> {{ recipe.description }} </p>-->
<!--          </p>-->
<!--        </div>-->


<!--        &lt;!&ndash; /END THE FEATURETTES &ndash;&gt;-->

<!--      </div>&lt;!&ndash; /.container &ndash;&gt;-->

{% endfor %}
<div class="container" >

<nav aria-label="recipe_list.html">
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
    <li class="page-item disabled">
      <li class="page-link">
      <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>

      {% endif %}

    <li class="page-item">
      <span class="page-link">
        {{ page_obj.number }}
        <span class="sr-only">(current)</span>
      </span>
      {% if page_obj.has_next %}
    <li class="page-link">
      <a  href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    </li>
      {% endif %}
  </ul>
    </nav>
    </div>
<script>
window.onload = () => {
    let input = document.querySelector('#input')
    input.oninput = function() {
        let value = this.value.trim();
        let list = document.querySelectorAll('.ul div');

        if (value !='') {
            list.forEach(elem => {
                if (elem.innerText.search(value)== -1) {
                    elem.classList.add('hide')
                }
            });
        } else {
            list.forEach(elem => {
                elem.classList.remove('hide')
            })
        }

        console.log(this.value)
    }
}

</script>



{% endblock content %}
