{% extends 'recipe_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="header-bar container">
    <h1>Регистрация</h1>
</div>

<div class="card-body container">
    <form method="POST">
     {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
    {{ form|crispy }}
      </div>
    </div>

    <input style="margin-top: 10px;" class="button" type="submit" value="Регистрация">
</form>
<p>Если у вас есть аккаунт? <a href="{%  url 'login' %}">Войти</a></p>
</div>






{% endblock content %}